html, body{
    margin: 0px;
}

body{
    overflow-x: hidden;
}

hr{
    display: block;
    margin: 0;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #E8E8E8;
    width: 1200px;
}

#flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* footer 置底元件一 */
    height: 100vh;
}

/* Hero section */
#hero-section{
    /* Nav要空54px，與上方要再空40px */
    margin-top: 94px;
    margin-bottom: 39px;
    /* 1200px 以下的RWD */
    width: 100%;
}

#hero-section-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: stretch;
    /* margin-left: 10px;
    margin-right: 10px; */
}

#hero-section-container-grid-left{
    position: relative;
    right: 15px;
    display: flex;
    justify-content: center;
    /* margin-right: 10px; */
}

#pic-container{
    position: relative;
}

#pic-container > img{
    position: relative;
    aspect-ratio: 540/406;
    height: 100%;
    /* 確保圖片在不同的螢幕大小顯示都是填滿的狀態 */
    width: 100%; 
    object-fit: cover;
    object-position: center center;
    display: none;
    border-radius: 5px;
}

.slider-btn{
    position: absolute;
    z-index: 50;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.previous{
    top: 50%;
    left: 10px;
}

.next{
    top: 50%;
    right: 10px;
}

#dots{
    display: flex;
    z-index: 50;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 13px;
    height: 12px;
    background-color: inherit;
    width: 100%;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 6px 0px 6px;
}

.dot-active{
    background: Black;
    border: 1px solid #FFFFFF;
    cursor: default;
}

#hero-section-container-grid-right{
    position: relative;
    right: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 33px 22px auto;
    gap: 15px 20px;
}

#hero-section-container-grid-right-profile{
    background-color: #E8E8E8;
    margin-top: 5px;
    border-radius: 5px;
}

#hero-profile-book-container-grid-wrap{
    display: grid;
    grid-template-columns: auto;
    padding: 15px 20px 15px 20px;
    gap: 15px; /* 最後要再調整 */
}

input[type="date"]{
    background-color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    border: none;
    width: 171px;
    height: 25px;
    cursor: text;
}

::-webkit-calendar-picker-indicator{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

::-webkit-datetime-edit{
    width: 149px;
    padding: 1.5px 0px 1.5px 0px;
    font-size: 14px;
    margin-right: 31px;    
}

/* radio-btn */
.hero-radio-btn{
    accent-color: #448899;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#hero-profile-start-book{
    width: 114px;
    padding: 10px 20px 10px 20px;
    background-color: #448899;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    margin-top: 10px;
}

/* Infors section */
#infors{
    /* 算上 hr 的 border 1px */
    margin-top: 39px;
    margin-bottom: 40px;
    color: #666666;
}

#infors-titles-container{
    font-family: Noto Sans TC;
}

#infors-titles-wrap{
    padding: 10px;
}

#infors-titles-wrap > div{
    margin-bottom: 20px;
    line-height: 32px;
}

/* font-size, font-weight */
.fs24fw7{
    font-size: 24px;
    font-weight: 700;
}

.fs24fw5{
    font-size: 24px;
    font-weight: 500;
}

.fs16fw7{
    font-size: 16px;
    font-weight: 700;
}

.fs16fw5{
    font-size: 16px;
    font-weight: 500;
}

.fs16fw4{
    font-size: 16px;
    font-weight: 400;
}

/* 1200px 以上 */
@media (min-width: 1200px) {
    #Nav-container, #hero-pic-profile-container-grid, #infors-titles-container, #hero-section{
        width: 1200px;
    }
    #pic-container{
        height: 400px;
        width: 540px;
    }
}

/* 1200px 以下 */
@media (max-width: 1200px) {
    #pic-container{
        /* RWD時左右留白 */
        width: 90%;
    }
    #infors-titles-wrap{
        padding-left: 20px;
        padding-right: 20px;
    }
    hr{
        width: calc(100%*0.95);
    }

}

/* 1000px 以下 */
@media (max-width: 1000px) {
    #hero-section-container-grid-right{
        right: 10px;
    }
    #hero-section-container-grid-left{
        right: 10px;
    }
}

/* 800px 以下 */
@media (max-width: 800px) {
    #hero-section-container-grid{
        grid-template-columns: 1fr;
        padding: 50px;
        gap: calc(10vh*0.3);
    }
    #hero-section-container-grid-right{
        right: 0px;
    }
    #hero-section-container-grid-left{
        right: 0px;
    }
    #hero-section{
        margin-top: 84px;
    }  
}

/* 700px 以下 */
@media (max-width: 700px) {
    #hero-section{
        margin-top: 74px;
    }
    #hero-section-container-grid{
        padding: 30px;
    }
}

/* 600px 以下 */
@media (max-width: 600px) {
    #hero-section-container-grid{
        padding: 0px 10px 0px 10px; 
        gap: 20px;
    }
    #hero-section{
        margin-top: 64px;
    }
    #infors-titles-wrap{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* 解決 360px 時右上方'登入/註冊'換行問題 */
@media (max-width: 360px) {
    #Nav-btn-right {
        padding: 9px;
    }
    #hero-section{
        margin-top: 54px;
    }
    #pic-container{
        width: 100%;
    }
    #hero-section-container-grid{
        padding: 0px;
    }
    #hero-section-container-grid-right{
        padding: 0px 10px 0px 10px;
    }
}