html, body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: #757575;
}

a:hover{
    color: #448899;
}

#flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* footer 置底元件一 */
    height: 100vh;
}

/* Hero section */
#Hero_section{
    /* 上方Nav高度 */
    margin-top: 54px;
    width: -webkit-fill-available;
    width: -moz-available;
}

#wrapSlogan{
    display: grid;
    background-image: url('/static/image/welcome.png');
    background-color: #cccccc;
    background-size: cover;
    background-repeat: space;
    height: 320px;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-content: center;
}

#slogan{
    display: grid;
    position: relative;
    height: 149px;
    justify-content: start;
    align-content: center;
    padding: 10px;
}

#slogan-title1{
    font-size: 28px;
    font-weight: 700;
    color: #F8F8F8;
    padding: 10px 10px 10px 0;
}

#slogan-title2{
    font-size: 16px;
    font-weight: 700;
    color: #F8F8F8;
    margin-bottom: 15px;
    padding: 10px 10px 10px 0;
}

#slogan-search-grid{
    display: grid;
    grid-template-columns: auto minmax(46px, 46px);
    z-index: 51; /* 避免搜尋時被覆蓋 */
}

#slogan-search-bar{
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 0;
    height: 26px;
    width: 334px;
    outline: none;
}

#slogan-search-icon{
    padding: 10px;
    background-color: #448899;
    height: 26px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#slogan-search-categories{
    display: grid;
    /* 下方彈出功能 */
    position: absolute;
    top: 170px;
    left: 10px;
    grid-template-columns: repeat(3, minmax(auto, 104px));
    justify-content: start;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 0 0 10px #666666;
    z-index: 51; /* 高於htmlLayer-zindex50 */
}

#slogan-search-categories :hover{
    background-color: #ece9e9;
}

#slogan-search-categories-item{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
}

/* Attractions section */
#attractions{
    height: auto;
    margin-top: 40px; margin-bottom: 40px;
    width: -webkit-fill-available;
    width: -moz-available;
    /* margin-bottom: auto; */
}

#grid-attractions-container{
    display: grid;
    padding: 15px;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

#wrap-attractions{
    /* 可以讓img 和下方 站名與類別div 貼齊關掉會有4px的空格 */
    display: grid;
    /* 當作 attractions-item-name 絕對位置的容器 */
    position: relative;
    /* 外框格線 */
    box-shadow: 0 0 1px #666666;
}


#wrap-attractions > img{
    position: relative;
    width: 100%;
    aspect-ratio: 270/197;
}

#wrap-attractions > img:hover{
    animation-duration: 1s;
    animation-name: bounding;
    animation-timing-function: ease-out;
}

@keyframes bounding{
    from{filter: blur(1px) brightness(70%)};
    to{filter: blur(0px) brightness(100%)};
}

#attractions-item-name{
    display: grid;
    align-content: center;
    padding: 10px;
    height: 20px;
    position: absolute;
    bottom: 45px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.6;
    width: -webkit-fill-available;
    width: -moz-available;
}

#attractions-item-mrt_category{
    display: grid;
    grid-auto-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    padding: 10px;
}

#attractions-item-mrt_category > span{
    padding: 2px;
}

#attractions-item-mrt{
    text-align: start;
}

#attractions-item-category{
    text-align: end;
}

/* Keyword fetch data is empty */
#error-containerEmpty-grid{
    display: grid;
    grid-template-columns: repeat(auto);
    justify-content: center;
    text-align: center;
}

#error-containerEmpty-grid > img{
    max-width: 100%; /* 隨著容器更改大小 */
    max-height: 400px; /* 限制圖片最大400*400 */
}

#error-containerEmpty-grid > h1{
    line-height: 40px;
}

/* 1200px 以上 */
@media (min-width: 1200px) {
    /* 讓這三個區塊寬度不超過 1200px */
    #Nav-container, #attractions, #slogan{
        width: 1200px;
    } 
    
}

/* 1200px 以下 */
@media (max-width: 1200px){
    /* 讓 slogan 貼齊左側 */
    #wrapSlogan{
        justify-content: start;
    };
}

/* 900px 以下 */
@media (max-width: 900px){
    /* 改為1列2格景點 */
    #grid-attractions-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 600px 以下 */
@media (max-width: 600px){
    /* 改為1列1格景點 */
    #grid-attractions-container{
        grid-template-columns: repeat(1, minmax(321px, 450px));
    }
    /* 搜尋框配合頁面縮小 */
    #slogan-search-bar{
        width: auto;
    }
    #slogan-search-categories{
        max-width: 298px;
        gap: 0px; 
    }
}

/* 解決 360px 時右上方'登入/註冊'換行問題 */
@media (max-width: 360px) {
    #Nav-btn-right {
        padding: 9px;
    }
}
