/* Navigation */
#Navigation{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 1px black
}

#Nav-container{
    /* 寬度 */
    width: -webkit-fill-available;
    width: -moz-available;
}

#Navigation-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #2196F3; */
}

#Nav-backToIndex{
    color: #448899;
    padding: 7px;
    font-size: 30px;
    font-weight: 700;
}

#Nav-backToIndex:hover{
    cursor: pointer;
}

#Nav-btn-grid{
    display: grid;
    /* 讓最右邊2格隨著內容自由變寬 */
    grid-template-columns: repeat(6, 1fr) auto auto;
    font-size: 16px;
    /* 不換行 */
    grid-auto-flow: dense;
}

#Nav-btn-left{
    padding: 10px;
    color: #666666;
    /* item 本身內部 */
    align-self: center;
    justify-self: center;
    /* 開始格子/佔據幾格(未用到) */
    grid-column: 9;
    cursor: pointer;
}

#Nav-btn-right{
    padding: 10px;
    color: #666666;
    /* item 本身內部 */
    align-self: center;
    justify-self: center;
    /* 開始格子/佔據幾格(未用到) */
    grid-column: 7;
    cursor: pointer;
}

/* member */
.member{
    position: absolute;
    z-index: 60;
    width: 340px;
    top: 70px;
}

#member-items-wrap-roof{
    position: relative;
    bottom: -4px;
    border-radius: 5px 5px 0 0;
}

#member-items-wrap{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px ;
}

#member-icon-close{
    position: absolute;
    height: 16px;
    width: 16px;
    top: 17px;
    right: 17px;
    background-color: inherit;
    cursor: pointer;
}

#member-icon-close:hover{
    background-color: #CCCCCC;
    opacity: 0.7;
}

.member-title{
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    text-align: center;
}

.member-input{
    height: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    padding: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.member-submit{
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    background-color: #448899;
    width: 310px;
    height: 47px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.member-hint{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    text-align: center;
}

/* footer */
footer{
    width: 100%;
    /*RWD 時 footer 置底元件二*/
    margin-top: auto; 
}

#text-container{
    display: grid;
    height: 104px;
    background-color: #757575;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    font-family: Noto Sans TC;
    font-weight: 700;
}

/* 共用屬性 */
.pointer{
    cursor: pointer;
}

.pointer:hover{
    color: #448899;
}

/* 解決 360px 時右上方'登入/註冊'換行問題 */
@media (max-width: 360px) {
    #Nav-btn-right {
        padding: 9px;
    }
}