html, body{
    margin: 0px;
}

#flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* footer 置底元件一 */
    height: 100vh;
}

.open-block{
    display: block;
}

.close{
    display: none;
}

a{
    text-decoration: none;
    color: initial;
}

a :visited{
    color: initial;
}

/* 螢幕反黑覆蓋層 */
#htmlLayer-zindex50{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background-color: #000000;
    opacity: 0.1;
}

/* 透明覆蓋層 */
#htmlLayer-opacity0-zindex50{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    opacity: 0;
}

/* Navigation */
#Navigation{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 1px black
}

#Nav-container{
    /* 寬度 */
    width: -webkit-fill-available;
    width: -moz-available;
}

#Navigation-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #2196F3; */
}

#Nav-backToIndex{
    color: #448899;
    padding: 7px;
    font-size: 30px;
    font-weight: 700;
}

#Nav-backToIndex:hover{
    cursor: pointer;
}

#Nav-btn-grid{
    display: grid;
    /* 讓最右邊2格隨著內容自由變寬 */
    grid-template-columns: repeat(6, 1fr) auto auto;
    font-size: 16px;
    /* 不換行 */
    grid-auto-flow: dense;
}

#Nav-btn-left{
    position: relative;
    cursor: pointer;
    padding: 10px;
    color: #666666;
    /* item 本身內部 */
    align-self: center;
    justify-self: center;
    /* 開始格子/佔據幾格(未用到) */
    grid-column: 7;
}

.shopping-cart{
    height: 40px;
}

.shopping-cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    right: -2px;
    background: red;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.Nav-btn-right{
    display: block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    padding: 10px;
    color: #666666;
    /* item 本身內部 */
    align-self: center;
    justify-self: center;
    /* 開始格子/佔據幾格(未用到) */
    grid-column: 9;
}

.Nav-btn-right-active{
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    background: #448899;
    border-radius: 100%;
    margin: 0 10px 0 10px;
    cursor: pointer;
    padding: 10px;
    color: #666666;
    /* item 本身內部 */
    align-self: center;
    justify-self: center;
    /* 開始格子/佔據幾格(未用到) */
    grid-column: 9;
}

.Nav-btn-right-icon{
    width: 25px;
}

.dropdown-list-item-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    list-style: none;
    position: relative;
    right: 150px;
    min-width: 150px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #cccccc;
    background: #fff;
}

.dropdown-list-item-group :hover{
    background-color: aliceblue;
}

.dropdown-list-item{
    display: flex;
    gap: 5px;
    align-items: center;
}

.dropdown-list-item-img{
    width: 25px;
}

.divider{
    border: 1px solid #CCCCCC;
}

.dropdown-list-item-logout-center{
    justify-content: center;
}

.dropdown-arrow{
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 8px 7px;
    margin-top: 7px;
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    z-index: 1001;
}

/* dialog member */
.dialog{
    position: absolute;
    z-index: 60;
    width: 340px;
    top: 70px;
}

#member-items-wrap-roof{
    display: block;
    position: relative;
    border-radius: 5px 5px 0 0;
}

#member-items-wrap{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px ;
}

#member-icon-close{
    position: absolute;
    height: 16px;
    width: 16px;
    top: 17px;
    right: 17px;
    background-color: inherit;
    cursor: pointer;
}

#member-icon-close:hover{
    background-color: #CCCCCC;
    opacity: 0.7;
}

.member-title{
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    text-align: center;
}

.member-input{
    height: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    padding: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.member-submit{
    font-size: 19px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    background-color: #448899;
    width: 310px;
    height: 47px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.member-alert{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.member-hint{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    text-align: center;
}

.login-dialog-password-show-close{
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 125px;
    right: 30px;
}

.signup-dialog-password-show-close{
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 185px;
    right: 30px;
}


/* dialog pop-up-message */
.pop-up-message{
    position: fixed;
    top: 50%;
    z-index: 200;
    box-shadow: 0 0 10px #CCCCCC;    
}

.dialog-pop-up-message-text{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

/* footer */
footer{
    width: 100%;
    /*RWD 時 footer 置底元件二*/
    margin-top: auto; 
}

#text-container{
    display: grid;
    height: 104px;
    background-color: #757575;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    font-family: Noto Sans TC;
    font-weight: 700;
}

/* 共用屬性 */
.pointer{
    cursor: pointer;
}

.pointer:hover{
    color: #448899;
}

/* 解決 360px 時右上方'登入/註冊'換行問題 */
@media (max-width: 360px) {
    #Nav-btn-right {
        padding: 9px;
    }
}