{% extends "layout.html" %}

{% block title %}booking{% endblock %}

{% block css %}<link rel = "stylesheet" type = "text/css" href = "/static/css/booking.css">{% endblock %}

{% block content %}
<!-- No-Booking Section -->
    <section id = "noBooking" style = "display: none;">
        <div class = "noBooking-text-container">
            <div>還沒有任何預定行程唷!</div>
            <a class = "goToBooking">快來預訂行程吧</a>
        </div>
    </section>
<!-- No-Booking Section End -->
<div class = "wrap-content-forRWD">
    <div class = "booking-content-container">
    <!-- content -->
    <!-- welcome -->
        <section id = "welcome" class = "welcome-style">
            您好，<span id = "welcome-name">Yakko</span>，待預定的行程如下 :
        </section>
    <!-- welcome end -->
    <!-- items -->
        <!-- <section id = "items" class = "items-style">
            <div class = "items-attraction">
                <div id = "items-attraction-left-imgContainer" class = "items-attraction-item">
                    <img class = "attraction-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000340.jpg">
                </div>
                <div id = "items-attraction-right-bookingInfo" class = "items-attraction-item">
                    <div class = "items-attraction-right-bookingInfo-title">台北一日遊 : 大稻埕碼頭</div>
                    <div id = "date">日期 : 2022-12-15</div>
                    <div id = "time">時間 : 早上9點到下午4點</div>
                    <div id = "price">費用 : 新台幣2000元</div>
                    <div id = "address">地點 : 北市 大同區環河北路一段</div>
                    <div id = "booking-id">預定編號 : 100</div>
                </div>
                <img class = "booking-attraction-delete-active" src = "/static/image/icon_delete.png" />
            </div>
        </section> -->
    <!-- items end -->
        <div class = "hr-forRWD"><hr/></div>
    <!-- contact -->
        <section id = "contact">
            <div class = "contact-items-wrap">
                <div class = "section-title-style">您的聯絡資訊</div>
                <div><label for = "contact-name">聯絡姓名：</label><input id = "contact-name"></input></div>
                <div><label for = "contact-email">聯絡信箱：</label><input id = "contact-email"></input></div>
                <div><label for = "contact-phone">手機號碼：</label><input id = "contact-phone"></input></div>
                <div>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </div>
        </section>
    <!-- contact end -->
    <div class = "hr-forRWD"><hr/></div>
    <!-- payment -->
        <section id = "payment">
            <div class = "payment-items-wrap">
                <div class = "section-title-style">信用卡付款資訊</div>
                <div><label for = "payment-creditCardNumber">卡片號碼：</label><input id = "payment-creditCardNumber" placeholder = "**** **** **** ****"></input></div>
                <div><label for = "payment-expiration">過期時間：</label><input id = "payment-expiration" type="text" pattern="\d{2}\/\d{2}" placeholder = "MM/DD"></input></div>
                <div><label for = "payment-ccv">驗證密碼：</label><input id = "payment-ccv" type = "text" pattern = "\d{3}" placeholder = "ccv"></input></div>
            </div>
        </section>
    <!-- payment end -->
    <div class = "hr-forRWD"><hr/></div>
    <!-- total-info -->
        <section id = "total-info">
            <div class = "total-payment">總價 : 新台幣 2000 元</div>
            <div class = "check-order-to-pay">確認訂單並付款</div>
        </section>
    <!-- total-info-end -->
    <!-- content end -->
    </div>
</div>
{% endblock %}


{% block javascript %}<script type = "text/javascript" src = "/static/js/booking.js"></script>{% endblock %}
