{% extends "layout.html" %}

{% block css %}<link rel = "stylesheet" type = "text/css" href = "/static/index.css">{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id = "Hero_section">
    <div id = "wrapSlogan">
        <div id = "slogan">
            <div id = "slogan-title1">輕鬆享受台北一日悠閒</div>
            <div id = "slogan-title2">探索每個角落，體驗城市的深度旅遊行程</div>
            <div id = "slogan-search-grid">
                <input onclick = "categories();" id = "slogan-search-bar" placeholder = "請輸入景點名稱查詢"></input>
                <img onclick = "remove();fetchPage();layerNone();" id = "slogan-search-icon" src = "../static/image/icon_search.png">    
            </div>
            <div style = "display: none;" id = "slogan-search-categories">
                <!-- <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div>
                <div id = "slogan-search-categories-item">公共藝術</div> -->
            </div>        
        </div>
    </div>
</section>
<!-- Attractions Section -->
<section id = "attractions">
    <div id = "grid-attractions-container">
        <!-- <a id = "attraction-a-redirect"> -->
            <!-- <div id = "grid-attractions-item">
                <div id = "wrap-attractions">
                    <img src = "https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
                    <div id = "attractions-item-name">
                        平安鐘
                    </div>
                    <div id = "attractions-item-mrt_category">
                        <span id = "attractions-item-mrt">忠孝復興</span>
                        <span id = "attractions-item-category">公共藝術</span>
                    </div>
                </div>
            </div> -->
        <!-- </a> -->
    </div>
</section>
{% endblock %}

{% block javascript %}<script type = "text/javascript" src = "/static/index.js"></script>{% endblock %}