<!DOCTYPE html>
<head lang = "en">
    <meta charset = "utf-8" />
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale = 1.0" />
    <title>台北一日遊</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/index.css">
</head>
<body>
    <main id = "flex-col">
        <section id = "Navigation">
            <div id = "Navigation-grid">
                <div id = "Nav-backToIndex">
                    台北一日遊
                </div>
                <div id = "Nav-btn-grid">
                    <div id = "Nav-btn-left">預定行程</div>
                    <div id = "Nav-btn-right">登入/註冊</div>
                </div>
            </div>
        </section>

        <section id = "Hero_section">

        </section>

        <section id = "attractions">

        </section>

        <section id = "footer">

        </section>
    </main>


    <script type = "text/javascript" src = "/static/index.js"></script>
</body>